# Godot 4+ specific ignores
.godot/
/android/
icon.svg
icon.svg.import
project.godot
JetBrainsMono-ExtraBoldItalic.ttf
JetBrainsMono-ExtraBoldItalic.ttf.import
/addons/addon_toggler
/addons/zylann.editor_debugger
/addons/todo_controller
/test/